<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS - TOKIRA SHOP</title>
    <link rel="shortcut icon" href="./image/icon.png" type="image/x-icon" />

    <!-- <script src="./js/jquery-3.7.1.js"></script>
    <script src="./js/news.js"></script> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;700;900&family=Syncopate:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/news.css">
</head>
<body>
    <div id="app">
        <header>  
            <nav>
                <ul>
                    <li class="logo">
                        <a href="index.html"><img src="./image/header_logo.svg" alt="logo"></a>
                    </li>
                    <li style="display: flex;">
                        <a 
                        v-for="nav in navList" 
                        :href="nav.link" 
                        :class="nav.class"
                        >
                            <div>{{nav.text}}</div>
                        </a>
                    </li>
                    <li class="cart">
                        <a href="cart2.html">
                            <img src="./image/header_cart.svg" alt="cart">
                            <div class="count">2</div>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="newsmain" id="top">
            <div class="banner">
                <h2>NEWS</h2>
                <img src="./image/banner_news.jpg" alt="banner"> 
            </div>

            <div class="info">
                <div class="deco">
                    <div class="sticker-sun"><img src="./image/sticker_sun.svg" alt="sticker-sun"></div>
                    <div class="sticker-hot"><img src="./image/sticker_hot.svg" alt="sticker-hot"></div>
                    <div class="sticker-good"><img src="./image/sticker_good.svg" alt="sticker-good"></div>
                </div>

                <div class="newscontent" id="newscontent">
                    <div class="shopmenu">
                        <div 
                            v-for="menu in newsMenu" 
                            class="shoptype" 
                            @click ="filter(menu.index)"
                        >
                            <span :style="{color: change == menu.index ? '#fa0':'rgb(58, 58, 58)'}">
                                {{menu.name}}
                            </span>
                            <span>
                                ({{parseLength(menu.name)}})
                            </span>
                        </div>
                    </div>
                    
                    <div class="newsproduct">
                        <div class="itemgroup  all-info" v-show="change == 1">
                            <a href="newspage.html" class="item" v-for="i in ALL" >

                                <div class="text">
                                    <div class="datetype">
                                        <span class="date">{{i.year}}.{{i.month}}.{{i.day}}</span>
                                        <span class="type">{{i.type}}</span>
                                    </div>

                                    <span class="title">{{i.title}}</span>

                                    <p class="detail">{{i.detail}}</p>
                                </div>

                                <div class="primg">
                                    <div class="newsimg"><img :src="i.imgSrc" :alt="i.imgAlt"></div>
                                    <div class="arrow2"><img src="./image/product_arrow2.svg" alt="arrow"></div>
                                </div>
                                
                            </a>
                        </div>

                        <div class="itemgroup  product-info" style="display:none" v-show="change == 2">
                            <a href="newspage.html" class="item" v-for="i in PRODUCT">

                                <div class="text">
                                    <div class="datetype">
                                        <span class="date">{{i.year}}.{{i.month}}.{{i.day}}</span>
                                        <span class="type">{{i.type}}</span>
                                    </div>

                                    <span class="title">{{i.title}}</span>

                                    <p class="detail">{{i.detail}}</p>
                                </div>

                                <div class="primg">
                                    <div class="newsimg"><img :src="i.imgSrc" :alt="i.imgAlt"></div>
                                    <div class="arrow2"><img src="./image/product_arrow2.svg" alt="arrow"></div>
                                </div>
                                
                            </a>
                        </div>

                        <div class="itemgroup  activity-info" style="display:none" v-show="change == 3">
                            <a href="newspage.html" class="item" v-for="i in ACTIVITY">

                                <div class="text">
                                    <div class="datetype">
                                        <span class="date">{{i.year}}.{{i.month}}.{{i.day}}</span>
                                        <span class="type">{{i.type}}</span>
                                    </div>

                                    <span class="title">{{i.title}}</span>

                                    <p class="detail">{{i.detail}}</p>
                                </div>

                                <div class="primg">
                                    <div class="newsimg"><img :src="i.imgSrc" :alt="i.imgAlt"></div>
                                    <div class="arrow2"><img src="./image/product_arrow2.svg" alt="arrow"></div>
                                </div>
                                
                            </a>
                        </div>
                        
                        <div class="itemgroup  store-info" style="display:none" v-show="change == 4">
                            <a href="newspage.html" class="item" v-for="i in STORE">

                                <div class="text">
                                    <div class="datetype">
                                        <span class="date">{{i.year}}.{{i.month}}.{{i.day}}</span>
                                        <span class="type">{{i.type}}</span>
                                    </div>

                                    <span class="title">{{i.title}}</span>

                                    <p class="detail">{{i.detail}}</p>
                                </div>

                                <div class="primg">
                                    <div class="newsimg"><img :src="i.imgSrc" :alt="i.imgAlt"></div>
                                    <div class="arrow2"><img src="./image/product_arrow2.svg" alt="arrow"></div>
                                </div>
                                
                            </a>
                        </div>

                        <div class="page">
                            <a href="#">|<</a>
                            <a href="#" v-for="p in 5">{{p}}</a>
                            <a href="#">>|</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer>
            <div class="deco">
                <div class="sticker-bc"><img src="./image/sticker_bc.svg" alt="sticker-bc"></div>
                <div class="sticker-1"><img src="./image/sticker_1.svg" alt="sticker-bc"></div>
                <div class="sticker-hagd"><img src="./image/sticker_hagd.svg" alt="sticker-sun"></div>
            </div>
            <div class="front">
                <div class="logo">
                    <a href="./index.html"><img src="./image/footer_logo.svg" alt="logo"></a>
                </div>
                <div class="top">
                    <a href="#top"><img src="./image/footer_arrow.svg" alt="top">
                        <span>TOP</span></a>
                </div>
            </div>
            <div class="info">
                <div v-for="info in footerInfo" 
                :href="info.href" 
                :class="info.class">
                    <p>{{info.textT}}</p>
                    <p>{{info.textB}}</p>
                </div> 
            </div>
            <div class="bottom">
                <span>本網站為緯育TibaMe前端工程師班第88期學員專題作品，本平台僅供學習、展示之用。</span>
                <span>@2023 TOKIRA</span>
            </div>
        </footer>
    </div>


<script src="https://unpkg.com/vue@3"></script>
<script>
    Vue.createApp({
        data(){
            return {
                newsMenu: [
                    {
                        index: 1,
                        name: 'ALL',
                    },
                    {
                        index: 2,
                        name: 'PRODUCT',
                    },
                    {
                        index: 3,
                        name: 'ACTIVITY',
                    },
                    {
                        index: 4,
                        name: 'STORE',
                    }
                ],
                newstype:[
                    {
                        class: 'newstype all-menu',
                        color: 'color: var(--orange-color);',
                        type: 'ALL',
                        nums: 6,
                        value: 'all',
                    },
                    {
                        class: 'newstype product-menu',
                        type: 'PRODUCT',
                        nums: 2,
                        value: 'product',
                    },
                    {
                        class: 'newstype activity-menu',
                        type:'ACTIVITY',
                        nums: 2,
                        value: 'activity',
                    },
                    {
                        class: 'newstype store-menu',
                        type:'STORE',
                        nums: 2,
                        value: 'store',
                    },
                ],
                ALL:[
                    {
                        year:'2023',
                        month:'11',
                        day:'02',
                        type: 'PRODUCT',
                        title: '聖誕限定禮品包：預售開啓!',
                        detail: '聖誕即將到來，我們推出了限量的聖誕禮品包預售，內含多款驚喜禮物，送給自己或摯愛吧！',
                        imgSrc: './image/news_christmas_m.jpg',
                        imgAlt: 'christmas',
                    },
                    {
                        year:'2023',
                        month:'10',
                        day:'23',
                        type: 'ACTIVITY',
                        title: '獨家活動：舊時光電影之夜',
                        detail: '10/27晚，將在店內舉辦「舊時光電影之夜」，播放經典玩具相關電影，歡迎一同感受懷舊氛圍。',
                        imgSrc: './image/news_movie_m.jpg',
                        imgAlt: 'movie',
                    },
                    {
                        year:'2023',
                        month:'09',
                        day:'18',
                        type: 'ACTIVITY',
                        title: '玩具交換日，共同分享收藏之樂！',
                        detail: '我們即將舉辦玩具交換日，讓玩具愛好者們共同分享心頭好。準備好你的交換清單吧！',
                        imgSrc: './image/news_toy_m.jpg',
                        imgAlt: 'toy',
                    },
                    {
                        year:'2023',
                        month:'09',
                        day:'10',
                        type: 'STORE',
                        title: '回憶盎然的遊戲機進駐！',
                        detail: '恢復兒時的遊戲樂趣！我們現在擁有大量的經典遊戲機，讓你重溫童年的快樂時光。',
                        imgSrc: './image/news_game_m.jpg',
                        imgAlt: 'game',
                    },
                    {
                        year:'2023',
                        month:'08',
                        day:'17',
                        type: 'STORE',
                        title: '全新店鋪隆重開幕！',
                        detail: '我們的全新店鋪即將於08/26正式開幕！期待您蒞臨，一同探索懷舊的玩具世界。',
                        imgSrc: './image/news_open_m.jpg',
                        imgAlt: 'open',
                    },
                    {
                        year:'2023',
                        month:'08',
                        day:'03',
                        type: 'PRODUCT',
                        title: '懷舊公仔回歸：經典角色再現',
                        detail: '如同穿越時光隧道，讓您與最愛的角色再次相遇。即刻購買，感受懷舊的美好。',
                        imgSrc: './image/news_mario_m.jpg',
                        imgAlt: 'mario',
                    },
                ],
                PRODUCT:[
                    {
                        year:'2023',
                        month:'11',
                        day:'02',
                        type: 'PRODUCT',
                        title: '聖誕限定禮品包：預售開啓!',
                        detail: '聖誕即將到來，我們推出了限量的聖誕禮品包預售，內含多款驚喜禮物，送給自己或摯愛吧！',
                        imgSrc: './image/news_christmas_m.jpg',
                        imgAlt: 'christmas',
                    },
                    {
                        year:'2023',
                        month:'08',
                        day:'03',
                        type: 'PRODUCT',
                        title: '懷舊公仔回歸：經典角色再現',
                        detail: '如同穿越時光隧道，讓您與最愛的角色再次相遇。即刻購買，感受懷舊的美好。',
                        imgSrc: './image/news_mario_m.jpg',
                        imgAlt: 'mario',
                    },
                ],
                ACTIVITY:[
                    {
                        year:'2023',
                        month:'10',
                        day:'23',
                        type: 'ACTIVITY',
                        title: '獨家活動：舊時光電影之夜',
                        detail: '10/27晚，將在店內舉辦「舊時光電影之夜」，播放經典玩具相關電影，歡迎一同感受懷舊氛圍。',
                        imgSrc: './image/news_movie_m.jpg',
                        imgAlt: 'movie',
                    },
                    {
                        year:'2023',
                        month:'09',
                        day:'18',
                        type: 'ACTIVITY',
                        title: '玩具交換日，共同分享收藏之樂！',
                        detail: '我們即將舉辦玩具交換日，讓玩具愛好者們共同分享心頭好。準備好你的交換清單吧！',
                        imgSrc: './image/news_toy_m.jpg',
                        imgAlt: 'toy',
                    },
                ],
                STORE:[
                    {
                        year:'2023',
                        month:'09',
                        day:'10',
                        type: 'STORE',
                        title: '回憶盎然的遊戲機進駐！',
                        detail: '恢復兒時的遊戲樂趣！我們現在擁有大量的經典遊戲機，讓你重溫童年的快樂時光。',
                        imgSrc: './image/news_game_m.jpg',
                        imgAlt: 'game',
                    },
                    {
                        year:'2023',
                        month:'08',
                        day:'17',
                        type: 'STORE',
                        title: '全新店鋪隆重開幕！',
                        detail: '我們的全新店鋪即將於08/26正式開幕！期待您蒞臨，一同探索懷舊的玩具世界。',
                        imgSrc: './image/news_open_m.jpg',
                        imgAlt: 'open',
                    },
                ],
                navList:[
                        {
                            text: "ABOUT",
                            link: "#",
                            class: "headerbtn",
                            content: "ABOUT"
                        },
                        {
                            text: "NEWS",
                            link: "news.html",
                            class: "headerbtn",
                            content: "NEWS"
                        },
                        {
                            text: "SHOP",
                            link: "index.html",
                            class: "headerbtn",
                            content:"SHOP" 
                        },
                        {
                            text: "CONTACT",
                            link: "#",
                            class: "headerbtn",
                            content:"CONTACT" 
                        },
                ],
                footerInfo:[
                        {
                            href: "https://maps.app.goo.gl/apyan9qoHcT4gzZeA",
                            class: "item",
                            textT: "320" ,
                            textB: "桃園市中壢區復興路46號9樓" 
                        },
                        {
                            href: "tel:+886-3-4251234",
                            class: "item",
                            textT: "聯絡電話" ,
                            textB: "03-425-1234"
                        },
                        {
                            class: "item",
                            textT: "營業時間" ,
                            textB: "平日14:00-19:30 假日13:00-19:30" 
                        },
                        {
                            class: "media",
                            textT: "INSTAGRAM" ,
                            textB: "FACEBOOK"
                        }
                ],
                change: 1,
            }
        },
        methods: {
            filter(filterIndex){
                this.change = filterIndex
            },
            parseLength(name){
                return this[name].length
            }
        },
    }).mount('#app');
</script>
</body>
</html>